<!--百度地图api-->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak={$data.envs['map.baidu_api_ak']}"></script>
<script>
	/**
     * ------------------------------------
	 * 百度地图初始化
     * ------------------------------------
	 */
	function baidu_map_initial() {
		var map = new BMap.Map("map-area");
		var point = new BMap.Point(116.404, 39.915);
		map.centerAndZoom(point, 15);
		//开启鼠标滚轮缩放
		map.enableScrollWheelZoom(true);
		map.addControl(new BMap.NavigationControl());
		map.addControl(new BMap.ScaleControl());
		map.addControl(new BMap.OverviewMapControl());
		map.addControl(new BMap.MapTypeControl());
		// 仅当设置城市信息时，MapTypeControl的切换功能才能可用
		map.setCurrentCity("成都");
	}

	baidu_map_initial();
</script>
<!--百度地图api end-->